  <section class= "author-index">
    {{#each user in model}}
        <div class="author">
          <div>
            {{gravatar-image email= user.email class='author-photo'}}
          </div>
      {{#link-to 'show' user}}
          <h5 class= "user_name">
            {{user.firstName}}
            {{user.lastName}}
          </h5>
      {{/link-to}}
          <h6>
            {{user.email}}
          </h6>
        </div>
    {{/each}}
  </section>
